body {
  background-color: darkolivegreen;
}

@keyframes turn_off_on {
  0%  {
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 100%;
  }
  25% {
    left: 0%;
    top: 50%;
    height: 1%;
    width: 100%;
    opacity: 100%;
  }
  50% {
    top: 50%;
    left: 50%;
    width: 1%;
    height: 1%;
    opacity: 100%;
  }
  100% {
    top: 50%;
    left: 50%;
    width: 1%;
    height: 1%;
    opacity: 0%;
  }
}

.tv {
  max-width: 70%;
  margin: auto;
  background: grey;
  position: relative;
  border-top: 3px solid #888;
  padding: 2% 2% 4% 2%;
  border-radius: 10px;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;

  &--full {
    position: fixed;
    background: none;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    border-top: 0px;
    padding: 0% 0% 0% 0%;
    border-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__black {
    display: none;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__stripe {
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &--on {
        animation-name: turn_off_on;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
      }
      &--off {
        animation-name: turn_off_on;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
      }
    }
  }

  &__screen {
    position: relative;

    &--full {
      height: 100vh;
    }

  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    min-height: 1rem;
    &--full {
      position: fixed;
      bottom: 0;
    }
  }

  &__btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0.5rem;
    cursor: pointer;
    text-align: center;
    line-height: 1.5rem;
    padding: 0.2rem;

    &--disabled {
      pointer-events: none;
    }

    &:active {
      filter: brightness(200%);
    }

    &__maximize {
      background: yellow;
      @media (orientation:portrait) {
        display: none;
      }
    }

    &__off {
      background: red;
    }
  }

  &__label {
    color: white;
    font-size: 10vw;
    position: absolute;
    user-select: none;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke: 5px black;
  }
}

.credits {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  &__link {
    color: white;
  }
}
